version: '3.8'

services:
  # Application Django bPassword - Configuration simple pour Coolify
  web:
    build: .
    container_name: bpassword_web
    environment:
      # Configuration Django
      SECRET_KEY: 4c2baef06750e907ef507b87ef5720109271b135b7d756cbab269811d0faaf86
      DEBUG: "False"
      ALLOWED_HOSTS: ${ALLOWED_HOSTS:-localhost,127.0.0.1,0.0.0.0,web,192.168.0.249,bpassword.b-services.be,192.168.0.180,192.168.0.56}

      # HTTPS/TLS
      ENABLE_HTTPS: ${ENABLE_HTTPS:-False}

      # Base de données SQLite - Persistante (ne pas utiliser DATABASE_URL qui pose problème)
      # DATABASE_URL: sqlite:////data/db.sqlite3

      # Chiffrement
      ENCRYPTION_KEY: 649ceffd6d1411183e383a98678deee35f5fb34f93defbc96cbad05145521b11

      # Sécurité
      DJANGO_SETTINGS_MODULE: bpassword.settings
    ports:
      - "8001:8000"
    volumes:
      - data:/data
      - logs:/logs
      - backups:/backups
    restart: unless-stopped

volumes:
  data:
  logs:
  backups: